/* Измените фон (любой) всей страницы. */

body{
  background: #FEFEFE;
}

/* Измените заголовок (любой стиль), увеличьте первую букву каждого параграфа. */

h2 {
  font-weight: normal;
}

p::first-letter {
  font-size: 150%;
}

/* Поменяйте цвет текста всех ссылок: ссылки меню – одного цвета, ссылки на странице – другого. */

nav a {
  color: red;
}


a {
  color: #bbb;
}

/*Добавьте стили для ссылок при наведении на них. */

a:hover{
  color: yellow;
}

/* Измените цвет фона одного из разделов, на котором есть id, но используя класс и 
измените в нем размер шрифта. */
.styled {
  background-color: green;
  font-size: 120%;
}

/* Используйте псевдо-элементы :before/:after – минимум один раз на странице, на ваше усмотрение. */

#contacts h2:after{
   content:    " <- how to get to Cogniance."; 
   color:      green;
}

